{
	"extends": ["plugin:astro/recommended", "eslint:recommended", "prettier"],
	"plugins": ["import", "unused-imports"],
	"overrides": [
		{
			"files": ["*.astro"],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"extraFileExtensions": [".astro"]
			},
			"rules": {
				"astro/no-set-html-directive": "error"
			}
		}
	],
	"rules": {
		"import/order": [
			"error",
			{
				"groups": [
					["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
				],
				"newlines-between": "always",
				"pathGroupsExcludedImportTypes": ["builtin"],
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		],
		"unused-imports/no-unused-imports": "error"
	}
}
