{
	"root": true,
	"extends": ["plugin:astro/recommended", "eslint:recommended", "prettier"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2022
	},
	"plugins": ["import", "unused-imports", "react"],
	"overrides": [
		{
			"files": ["*.astro"],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"extraFileExtensions": [".astro"]
			}
		}
	],
	"rules": {
		"import/order": [
			"error",
			{
				"groups": [
					["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
				],
				"newlines-between": "always",
				"pathGroupsExcludedImportTypes": ["builtin"],
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		],
		"unused-imports/no-unused-imports": "error"
	}
}
