---
import Layout from "../../layouts/Layout.astro";
import { createClient } from "microcms-js-sdk";

export const client = createClient({
	serviceDomain: import.meta.env.SERVICE_DOMAIN,
	apiKey: import.meta.env.API_KEY,
});

export async function getStaticPaths() {
	const news = await client
		.get({
			endpoint: "news",
			queries: {
				fields: "id",
			},
		})
		.then((res) => {
			return res.contents;
		});

	return news.map((content: { id: string }) => {
		return {
			params: { id: content.id },
			props: { id: content.id },
		};
	});
}

const { id } = Astro.params;

const newsContent = async () => {
	const news = await client
		.get({
			endpoint: "news",
			contentId: id as string,
		})
		.then((res) => {
			return res;
		});
	return news;
};
const data = await newsContent();
const content: string = data.content;
---

<Layout title={`Upu | ${data.title}`}>
	<main>
		<div>
			<h1>{data.title}</h1>
			<Fragment set:html={content} />
		</div>
	</main>
</Layout>
<script is:inline>
	console.log(window.location.search);
</script>
<style>
	main {
		min-height: 100vh;
	}
	main > div {
		padding: 5%;
		box-sizing: border-box;
	}
	h1 {
		color: var(--base);
		font-size: clamp(1rem, 3vw, 2.5rem);
		display: flex;
		width: 80%;
		max-width: 350px;
		align-items: center;
		line-height: 1.5;
		text-transform: capitalize;
		word-break: keep-all;
		white-space: nowrap;
		margin-bottom: 2rem;
	}
	h1::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--base);
		margin-left: 10%;
	}
	.news_list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		margin-bottom: 1rem;
	}
	img {
		width: 100%;
	}
</style>
