---
import Layout from "@layouts/Layout.astro";
import { createClient } from "microcms-js-sdk";

export const client = createClient({
	serviceDomain: import.meta.env.SERVICE_DOMAIN,
	apiKey: import.meta.env.API_KEY,
});
type responseType = {
	contents: { id: string }[];
	totalCount: number;
	offset: number;
	limit: number;
};
export async function getStaticPaths() {
	const news: {id:string}[] = await client
		.get({
			endpoint: "news",
			queries: {
				fields: "id",
			},
		})
		.then((res: responseType) => {
			return res.contents;
		});

	return news.map((content: { id: string }) => {
		return {
			params: { id: content.id },
			props: { id: content.id },
		};
	});
}

const { id } = Astro.params;

type newsType = {
	id: string;
	title: string;
	content: string;
	createdAt: string;
	updatedAt: string;
	publishedAt: string;
	revisedAt: string;
};
const newsContent = async (): Promise<newsType> => {
	const news:newsType = await client
		.get({
			endpoint: "news",
			contentId: id as string,
		})
		.then((res: newsType) => {
			return res;
		});
	return news;
};
const data = await newsContent();
const title = data.title;
const content = data.content;
---

<Layout title={`Upu | ${title}`}>
	<div class="container">
		<h1>{title}</h1>
		<Fragment set:html={content} />
	</div>
</Layout>
<style>
	.container{
		padding: 5%;
		box-sizing: border-box;
	}
	h1 {
		color: var(--base);
		font-size: clamp(1rem, 3vw, 2.5rem);
		display: flex;
		width: 80%;
		max-width: 350px;
		align-items: center;
		line-height: 1.5;
		text-transform: capitalize;
		word-break: keep-all;
		white-space: nowrap;
		margin-bottom: 2rem;
	}
	h1::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--base);
		margin-left: 10%;
	}
	.news_list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		margin-bottom: 1rem;
	}
	img {
		width: 100%;
	}
</style>
