---
import Sidebar from '../components/Sidebar';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta
			name="description"
			content="いつか食べたようななつかしさを感じるメニューをこだわり素材でご提供します。"
		/>
		<link rel="stylesheet" href="/assets/destyle.css" />
	</head>
	<body>
		<div class="layout_row">
			<div>
				<main>
					<slot />
				</main>
				<footer>Copyright&nbsp;©&nbsp;All&nbsp;right&nbsp;reserved&nbsp;Upu.</footer>
			</div>
			<Sidebar client:visible />
		</div>
		<style>
			:root {
				--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
				font-family: "Times New Roman", Times, serif;
				font-size: clamp(0.8rem, 5vw, 1rem);
				--base: #3e3e3e;
				color: var(--base);
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

				--color-text: hsl(12, 5%, 4%);
				--color-bg: hsl(10, 21%, 95%);
				--color-border: hsl(17, 24%, 90%);
			}
			body {
				min-height: 100vh;
			}
		</style>
		<style is:global>
			.br::before {
				content: "\A";
				white-space: pre;
			}
			.nw {
				display: inline-block;
			}
			footer {
				background-color: #dedede;
				padding: 1rem 0;
				text-align: center;
				color: #3e3e3e;
			}

			img {
				max-width: 100%;
			}
		</style>
	</body>
	<script>
		const main = document.querySelector("main");
		const footer = document.querySelector("footer");
		if (main && footer) {
			main.style.minHeight = `calc(100vh - ${footer.clientHeight}px)`;
		}
	</script>
</html>

<style>
	main {
		height: 100%;
		box-sizing: border-box;
	}
	.layout_row {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		min-height: 100vh;
		position: relative;
	}
	.layout_row > div {
		width: 80%;
	}
	@media screen and (max-width: 600px) {
		.layout_row > div {
			width: 100%;
		}
		.layout_row {
			display: block;
			position: relative;
		}
	}
</style>